.Skills{
    height: 700px;
    background-color: #1e1e1e;
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
}

#destaque{
    -webkit-text-stroke: 1.5px rgb(200, 19, 255); 
    color: transparent;
    font-size: 2.5rem;
    text-align: center;
}

@media (max-width: 768px) {

    #destaque{
        margin: 0;
        font-size: 2.6rem;
    }

    .Skills{
        height: auto;
        margin-top: 45px;
    }

 }