/* Estilos gerais da seção de formação */
.Formacao {
  padding: 50px;
  background-color: #353434;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  height: auto;
}

.Formacao.fade-in {
  opacity: 1;
}

/* Efeito de fade-in */
.experiencia-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.Formacao.fade-in .experiencia-item {
  opacity: 1;
}

.experiencia-titulo {
  color: transparent;
  font-size: 2.5rem;
  -webkit-text-stroke: 1.5px #3cdd8e;
  margin-top: -2px;
  margin-bottom: 20px;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.timeline-titulo, .curso-titulo {
  font-size: 20px;
  color: #b6f829;
  margin-bottom: 20px;
}


.experiencia-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  width: 100%;
  max-width: 600px;
  position: relative;
  z-index: 1; /* Coloca os itens acima da linha */
}

.experiencia-bolinha {
  width: 17px;
  height: 14px;
  background: linear-gradient(#b6f829, #67dd0a);
  border: 2px solid #000;
  position: absolute;
  left: -8px;
  top: -2px;
  transform: translateX(-50%);
  z-index: 1;
}

.experiencia-detalhes {
  flex: 1;
  text-align: left;
  padding: 10px;
  width: 700px;
  background-color: #1f1e1e;

}

.python h4{
  width: 220px;
}
.faculdade{
  position: relative;
  bottom: 90px;
}
#divisoria {
  border: none; /* Remove o estilo de borda padrão */
  height: 2px; /* Define a altura da linha */
  background-color: #ffffff; /* Define a cor da linha */
  width: 800px; /* Define a largura da linha */
  margin: 20px 0; /* Ajusta o espaçamento acima e abaixo da linha */
}

.experiencia-detalhes h4 {
  font-size: 1.6rem;
  margin: 0;
}

.experiencia-empresa {
  color: #3cdd8e;
  font-size: 18px;
  margin: 5px 0;
}

.experiencia-periodo {
  font-size: 16px;
  color: #bbbbbb;
  margin-bottom: 10px;
}

.experiencia-descricao {
  flex: 2;
  text-align: left;
  margin-left: 30px;
}

.experiencia-descricao p {
  margin-left: 7px;
}

.experiencia-ferramentas {
  margin-top: 10px;
  font-size: 16px;
  color: #bbbbbb;
}

.experiencia-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .experiencia-item {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .faculdade{
    bottom: 0;
  }

  .experiencia-detalhes, .experiencia-descricao {
    margin: 0;
    margin-top: 25px;
    max-width: 100%;
  }

  .experiencia-detalhes h4{
    font-size: 1.7rem;
  }

  #divisoria{
    width: 250px;
  }

  .experiencia-bolinha {
    left: -7px;
    top: 30px;
  }

  .timeline {
    width: 100%;
  }
}
