.Sobre{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
    margin-bottom: 50px;
    background-color: #1e1e1e;
    color: white;

}
.foto-container {
    position: relative; /* Permite posicionar o círculo de sobreposição em relação ao contêiner */
    display: inline-block; /* Garante que o contêiner ajuste ao tamanho da imagem */
}

#eu {
    width: 360px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid rgb(40, 46, 40);
    transform: rotate(-6deg);
    position: relative; /* Garante que a imagem esteja no topo do círculo */
    z-index: 1;
    display: none; /* Garante que a imagem fique acima do círculo */
}

.circulo {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 90%; /* Ajuste para garantir que o círculo seja maior que a imagem */
    height: 90%; /* Ajuste para garantir que o círculo seja maior que a imagem */
    background-color: rgba(159, 66, 235, 0.5); /* Cor e opacidade da sobreposição */
    border-radius: 50%;
    transform: translate(-50%, -50%); /* Centraliza o círculo */
    z-index: 0; /* Coloca o círculo atrás da imagem */
    display: none;
}



.title{
    font-size: 1.7rem;
}

.title span{
    color: rgb(200, 19, 255);
    
}

#sobre-mim{
    font-size: 1.6rem;
    margin: 0px 0 0px 130px;
    color: white;
    margin-top: 105px;
    margin-bottom: -40px;
    
}

#quem-sou{
    width: 680px;
    margin-right: 40px;
}

#sobre-mim span{
    color: rgb(200, 19, 255);
}

.Sobre button{
    background-color: rgb(200, 19, 255);
    border-radius: 25px;
    border:  2px solid rgb(200, 19, 255);
    margin-top: 45px;
    width: 45%;
}

@media (max-width: 768px) {

    .Sobre{
        flex-direction: row-reverse;
    }

 }