@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gothic+A1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Yeseva+One&display=swap');

*{
    margin: 0;
    font-family:  "Yeseva One", serif !important;
    text-decoration: none;
    
  }

  :root{
    background-color: #1e1e1e;
    font-family:  "Yeseva One", serif;
  }

  button{
    cursor: pointer;
  }

a{
    color: inherit;
}
a:visited {
    color: inherit;
}